@media (max-width:1000px) {
    .img {
        margin-top: 20%;
        width: 100%;
    }
    
    .insightleft {
        width: 90%;
    }

    .freetrialleft {
        width: 90%;
    }

    .collaborateleft {
        width: 90%;
    }
}

@media (max-width:670px) {

    .insight {
        flex-direction: column;
        text-align: justify;
    }

    .insightright {
        margin: 0 auto;
    }
    .insightleft {
        margin: 0 auto;
    }

    .free-trial {
        flex-direction: column;
        text-align: justify;
    }

    .freetrialright {
        margin: 0 auto;
    }

    .freetrialleft {
        margin: 0 auto;
    }

    .collaborate {
        flex-direction: column;
        text-align: justify;
    }

    .collaborateright {
        margin: 0 auto;
    }

    .collaborateleft {
        margin: 0 auto;
    }
    
}

* {
    box-sizing: border-box;
}

.main{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.insight {
    display: flex;
    margin-top: 30px;
}

.free-trial {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}

.collaborate {
    display: flex;
    margin-top: 30px;
}

img {
    width: 90%;
}

.insightright {
    width: 80%;
}

.freetrialright {
    width: 100%;
}

.collaborateright {
    width: 80%;
}

.title-insight {
    background-color:rgb(243, 225, 243);
    display: block;
    padding: 0px 10px ;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    text-align: center;
    line-height: 30px;
    color:rgb(255, 42, 77);
    font-weight: bold;
}

.title-collaborate {
    background-color:rgb(243, 225, 243);
    display: block;
    padding: 0px 10px ;
    border-radius: 10px;
    height: 30px;
    width: 175px;
    text-align: center;
    line-height: 30px;
    color:rgb(255, 42, 77);
    font-weight: bold;
}

.btn {
    background-color: rgb(255, 42, 77);
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
}

.btn:hover{
    background-color: rgb(250, 0, 42);
}

.btn a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.content p {
    color: rgb(116, 116, 126);
    margin-bottom: 20px;
    line-height: 23px;
}

.getbutton {
    background-color: orange;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
}

.getbutton:hover {
    background-color: orangered;
}

.getbutton a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.textunderbutton {
    color: rgb(116, 116, 126);
    margin-bottom: 20px;
    line-height: 23px;
}

.list-collaborate {
    color: rgb(250, 0, 42);
}

li {
    list-style: circle;
    font-weight: bold;
}


